# Windows
Thumbs.db

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
/dist
dist

# Testing/Coverage
coverage.xml

# Local Files
.*

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Environments
poetry.lock
