# Editors
.vscode/
.idea/

# Mac/OSX
.DS_Store

# Windows
Thumbs.db

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
/dist
dist

# Testing/Coverage
.pytest_cache/
tests/.pytest_cache
/.tox/
.coverage

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Environments
poetry.lock
/venv/

# Testing Files
/test/
